<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Flow" >
    <test name="flow1">
        <classes>
            <class name="Setup"></class>
            <class name="HomePageTest"></class>
<!--            <class name="AcademyPageTest"></class>-->
            <class name="JoinAsSpecialistTest"></class>
            <class name="TearDown"></class>
        </classes>
    </test>

</suite>